@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #4e4e4e;
}
@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Regular.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: yekanBakh;
  src: url("./assets/fonts/YekanBakhFaNum-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-family: yekanBakh;
  direction: rtl;
}
:root {
  --primary-color: #f77f00;
}
.flex-center {
  @apply flex justify-center items-center;
}
.flex-col {
  @apply flex;
}
.hero-section {
  background-image: url(./assets/images/hero-section-emoji-chats.png);
  background-color: var(--primary-color);
}
.header-navbar-container {
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(0.1875rem);
  border-radius: 0.625rem 1.5rem;
}
.navbar-after::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: -0.75rem;
  right: 40%;
  box-shadow: 0px 0px 0.5625rem gray;
}
.hero-section-cta {
  background-image: url(./assets/images/hero-section-background-shape.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.hero-section-cta h1 {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--primary-color);
  backdrop-filter: blur(4.5px);
}
.hero-section-cta a::after {
  content: "";
  position: absolute;
  background-image: url(./assets/images/button-after-shape.svg);
  left: -0.5rem;
  bottom: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  transform: rotate(356deg);
}
.hero-section-cta a::before {
  content: "";
  position: absolute;
  background-image: url(./assets/images/button-before-shape.svg);
  right: -0.25rem;
  top: -0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
}
